.input-text {
    color: #676767;
    width: 70%;
    text-align: center;
    height: 53px;
    padding: 15px 20px 15px 20px;
    background: #F5F5F5;
    border: 1px solid #dbdbdb;
    /*border: 1px solid #89ca18;*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.input-text:focus {
    background: #ffffff;
    border: 1px solid #89ca18;
}

.sign-form {
    text-align: center;
}

.sign-form a {
    text-decoration: underline;
}

.sign {
    width: 70%;
}